In [5]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for num1 in range (10,20):
    print(num1,end=" ")

10 11 12 13 14 15 16 17 18 19

In [35]:
a=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the list:",len(a))

Number of item in the list: 7

In [21]:
str= "Artificial Intelligence"
for i in str:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [27]:
print("-Your name-")
print("-Your Age-")
print("-Your Profession-")

-Your name-
-Your Age-
-Your Profession-

In [7]:
Tuple = (1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [8]:
tup1=(0,1,2,3)
tup2=('Python', 'Hope')
tup3=(tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [4]:
num=[20, 10, 16, 19, 25, 1, 276, 288]
for odd in num:
    if((odd%2)==1):
        print (odd, "is odd")

19 is odd
25 is odd
1 is odd

In [5]:
num=[20, 10, 16, 19, 25, 1, 276, 288]
for Even in num:
    if((Even%2)==0):
        print (Even, "is Even")

20 is Even
10 is Even
16 is Even
276 is Even
288 is Even