In [1]:
def Subfields():
    
    print("Sub-Fieldsin AI are:");
    print("Machine Learning")
    print("Neural networks")
    print("Vision")
    print("Robotics")
    print("Speech Processing")
    print("Natural Language Processing")
    return Subfields

In [2]:
Subfields()

Sub-Fieldsin AI are:
Machine Learning
Neural networks
Vision
Robotics
Speech Processing
Natural Language Processing

In [3]:
SubfieldsinAI=Subfields()

Sub-Fieldsin AI are:
Machine Learning
Neural networks
Vision
Robotics
Speech Processing
Natural Language Processing

In [55]:
def oddEven():
    num=int(input("Enter the Number:"))
    if((num%2)==1):
        print(num,"is Odd number")
        mes="Odd Number"
    else:
        print(num,"is Even Number")
        mes="Even number"
    return mes

In [56]:
oddEven()

Enter the Number: 52452

52452 is Even Number

'Even number'

In [57]:
Message=oddEven()

Enter the Number: 52452

52452 is Even Number

In [55]:
def eligible():
    Gender=input("Your Gender:")
    Age=int(input("Your Age:"))
    if(Gender.lower()=="male" and Age>=21):
        print("Eligible")
        sel="Eligible"
    elif(Gender.lower()=="female" and Age>=18):
        print("Eligible")
        sel="Eligible"
    else:
        print("Not Eligible")
        sel="Not Eligible"
    return sel

In [56]:
eligible()

Your Gender: male
Your Age: 20

Not Eligible

'Not Eligible'

In [57]:
Select=eligible()

Your Gender: male
Your Age: 20

Not Eligible

In [48]:
def Modulos():
    S1=98
    S2=87
    S3=95
    S4=95
    S5=93
    T= S1+S2+S3+S4+S5
    Per= (T/500)*100
    print("Subject1=", S1)
    print("Subject2=", S2)
    print("Subject3=", S3)
    print("Subject4=", S4)
    print("Subject5=", S5)
    print("Total:", T)
    print("Percentage:", Per)
    percent=Per
    return percent

In [49]:
Modulos()

Subject1= 98
Subject2= 87
Subject3= 95
Subject4= 95
Subject5= 93
Total: 468
Percentage: 93.60000000000001

93.60000000000001

In [50]:
Perce=Modulos()

Subject1= 98
Subject2= 87
Subject3= 95
Subject4= 95
Subject5= 93
Total: 468
Percentage: 93.60000000000001

In [59]:
def triangle():
    H=32
    B=34
    H1=2
    H2=4
    B1=4
    AOT=(H*B)/2
    PF=H1+H2+B1
    print("Height:", H)
    print("Breath:", B)
    print("Area of Triangle:", AOT)
    tri=AOT,PF
    print("Height1:", H1)
    print("Height2:", H2)
    print("Breadth:", B1)
    print("Perimeter of Triangle:", PF)
    tri=AOT,PF
    return tri

In [60]:
triangle()

Height: 32
Breath: 34
Area of Triangle: 544.0
Height1: 2
Height2: 4
Breadth: 4
Perimeter of Triangle: 10

(544.0, 10)

In [61]:
Trian=triangle()

Height: 32
Breath: 34
Area of Triangle: 544.0
Height1: 2
Height2: 4
Breadth: 4
Perimeter of Triangle: 10